/*=============== TRANSPARENT ===============*/

#main-window {
  --lwt-accent-color: transparent !important;
  --toolbar-bgcolor: transparent !important;
  --tabpanel-background-color: transparent !important;
}

/*=============== FIREFOX ===============*/

:root {
  --vt-ani-time: 150ms;
  --vt-ani-delay: 150ms;
  --vt-ani-shape: ease-in-out;
  --vt-tab-width-thin: 40px;
  --vt-tab-width-wide: 200px;
}

/* hide navigation bar when it is not focused; use Ctrl+L to get focus */
#main-window:not([customizing])[chromehidden=""] #nav-bar:not(:focus-within):not(:hover) {
  margin-top: -43px;
}

#nav-bar {
  margin-top: 0px;
  transition: var(--vt-ani-time) margin-top var(--vt-ani-shape) 10ms !important;
}

#notification-popup {
  margin-top: 8px; /* keep notification pop up inside window */
}

#PersonalToolbar:not([customizing]){
  position: relative;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform var(--vt-ani-time) ease var(--vt-ani-delay) !important;
  z-index: 1;
}

#nav-bar:focus-within + #PersonalToolbar, #nav-bar:hover #PersonalToolbar{
  transition-delay: var(--vt-ani-delay) !important;
  transform: scaleY(1);
}

/*=============== VERTICAL TABS ==============*/

#TabsToolbar > *:not(.toolbar-items) {
  display: none;
}

#tabbrowser-arrowscrollbox {
  height: fit-content;
}

.scrollbox-clip [part="scrollbox"] * {
  display: flex;
  flex-direction: column !important;
}

#scrollbutton-down, #scrollbutton-up {
  display: none;
}

#tabbrowser-arrowscrollbox spacer {
  display: none;
}

#tabbrowser-arrowscrollbox-periphery {
  display: none;
}


#TabsToolbar-customization-target {
  height: calc(100% - 40px);
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0;
  width: var(--vt-tab-width-thin);
  transition: width var(--vt-ani-time) var(--vt-ani-shape) var(--vt-ani-delay), top var(--vt-ani-time) var(--vt-ani-shape) 10ms;
}

/*#main-window:not([customizing])[chromehidden=""]:has(#nav-bar:not(:focus-within):not(:hover)) #TabsToolbar-customization-target {
  top: 0px;
  height: 100%;
}*/

#TabsToolbar-customization-target:hover { 
  width: var(--vt-tab-width-wide);
}

#tabbrowser-tabs {
  overflow-y: scroll;
  scrollbar-width: none;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

tab {
  padding-left: 4px !important;
  padding-right: 4px !important;
  min-width: 0px !important;
  transition: width var(--vt-ani-time) var(--vt-ani-shape) var(--vt-ani-delay), min-width 100ms ease-out, max-width 100ms ease-out !important; 
  width: var(--vt-tab-width-thin);
}

#TabsToolbar-customization-target:hover tab {
  width: var(--vt-tab-width-wide);
}

tab:not(:hover) .tab-close-button {
  display: none;
}

#tabbrowser-tabs .scrollbar {
  display: none;
}

#new-tab-button {
  display: inherit !important;
}

#alltabs-button, #firefox-view-button {
  display: none;
}

html:not([inDOMFullscreen="true"]):has(#TabsToolbar:not([collapsed="true"])) #browser {
  margin-left: var(--vt-tab-width-thin);
  transition: margin-left var(--vt-ani-time) var(--vt-ani-shape) var(--vt-ani-delay);
}

#navigator-toolbox:has(#TabsToolbar-customization-target:hover) + #browser {
  margin-left: var(--vt-tab-width-wide);
}

/*=============== NEW TAB PAGE ==============*/

#navigator-toolbox:has(#identity-box.localResource[pageproxystate="invalid"]) + #browser > #appcontent { /* new tab page has class localResource and pageproxystate="invalid"*/
  margin-top: 100vh; /* use margin to hide default page, because focus doesn't work when hidden */ 
}

#urlbar-container:has(#identity-box.localResource[pageproxystate="invalid"]) + #customizableui-special-spring2 {
  max-width: none !important;
}

#urlbar-container:has(#identity-box.localResource[pageproxystate="invalid"]) {
  --urlbar-container-height: 70px !important;
  --toolbar-field-background-color: transparent !important;
  --toolbar-field-focus-background-color: transparent !important;
  position: fixed !important;
  top: 200px;
  height: max-content;
  left: calc(50% - 30%);
  width: 60% !important; 
}

#urlbar-container:has(#identity-box.localResource[pageproxystate="invalid"]) #urlbar {
  --urlbar-height: 70px !important;
  --urlbar-toolbar-height: 70px !important;
}

#urlbar-container:has(#identity-box.localResource[pageproxystate="invalid"]) #urlbar-background {
  border-radius: 16px !important;
  border: 4px solid var(--toolbar-field-border-color) !important;
}

#urlbar-go-button {
  height: calc(var(--urlbar-height) - 2px - 2 * var(--urlbar-container-padding)) !important;
}
